body { padding-top: 70px; }

.filterSpecItem {
    margin-top: 5px;
}

#addStudyYear {
	margin-bottom: 10px;
}

.page-header.jumbotron {
	margin-top: 0;
}

.navbar.navbar-inverse.navbar-fixed-top {
	margin-bottom: 0;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


.navbar-bottom {
	margin-bottom:0;
}